extends structure/_layout.pug

block content
    .uk-grid.uk-grid-divider
        .uk-width-medium-1-3
            p
        .uk-width-medium-1-3
            img(src="img/underconstruction.jpg" alt="Under construction")
        .uk-width-medium-1-3
            p