doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Web Designer Blog
        script(src="https://use.fontawesome.com/eed36b6b1e.js")
        link(href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet")
        link(rel="stylesheet" href="css/style.css")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="js/uikit.min.js")
        script(src="js/components/slideshow.min.js")

    body
        include _header.pug
        block content
        include _footer.pug
