extends structure/_layout.pug

block content
    .uk-grid.uk-grid-divider
        .uk-width-medium-1-3
            article.uk-article.left-panel
                h1.uk-article-title Coming soon...
        .uk-width-medium-1-3
            img(src="img/underconstruction.jpg" alt="Under construction")
        .uk-width-medium-1-3
            .tm-article-subtitle.right-panel
                h3 Follow us on:
                .uk-block.uk-block-secondary.uk-contrast
                    article.uk-article
                        .uk-panel.icon
                            a(href="https://github.com/" class="uk-icon-hover uk-icon-medium uk-icon-github")  Github
                        .uk-panel.icon
                            a(href="https://twitter.com/?lang=en" class="uk-icon-hover uk-icon-medium uk-icon-twitter")  Twitter
                        .uk-panel.icon
                            a(href="https://www.facebook.com/" class="uk-icon-hover uk-icon-medium uk-icon-facebook-square")  Facebook
                        .uk-panel.icon
                            a(href="https://www.tumblr.com/" class="uk-icon-hover uk-icon-medium uk-icon-tumblr-square")  Tumblr
                        .uk-panel.icon
                            a(href="https://www.linkedin.com/uas/login" class="uk-icon-hover uk-icon-medium uk-icon-linkedin-square")  Linkedin