extends structure/_layout.pug

block content
    .uk-grid.uk-grid-divider
        .uk-width-medium-1-3
            article.uk-article.left-panel
                h1.uk-article-title Keep up-to-date with the latest news
                p.uk-article-meta Last update 14 April 2017
                p.uk-article-lead Keep up-to-date with the latest web development news. Fill in the form to receive a monthly newsletter containing all the latest trends amd reviews of software releases. Additionally, fill in the option to receive breaking news, special offers and more...
                hr.uk-article-divider
        .uk-width-medium-1-3
            // form starts here
            form.uk-form.uk-form-stacked
                fieldset(data-uk-margin)
                    legend Sign-up for your newsletter
                    .uk-form-row
                        label.uk-form-label(for="") Name:
                        .uk-form-controls
                            input(type="text" placeholder="Enter name")
                    .uk-form-row
                        label.uk-form-label(for="") Email:
                        .uk-form-controls
                            input(type="email" placeholder="Enter email")
                    .uk-form-row
                        .uk-form-controls
                            input(type="checkbox")
                            label Also send me breaking news and offers
                    .uk-form-row
                        label.uk-form-label(for="") Gender:
                        // components used
                        .uk-form-controls
                            input(type="radio" id="male" name="radio")
                            label Male
                            input(type="radio" id="female" name="radio")
                            label Female
                            input(type="radio" id="other" name="radio")
                            label Other
                    .uk-form-row
                        .uk-form-controls
                            label.uk-form-label(for="") Birthday:
                            // styling- icon used
                            .uk-form-controls
                                .uk-form-icon
                                    i.uk-icon-calendar
                                    input(type="date" paceholder="")
                    .uk-form-row
                        label.uk-form-label(for="") Area of interest:
                        .uk-form-controls
                            select
                                option No items selected
                                option Front-end
                                option Back-end
                                option Full stack
                    .uk-form-row
                        label.uk-form-label(for="") Comments:
                        .uk-form-controls
                            textarea(placeholder="Enter comments" cols="25" rows="5")
                    .uk-form-row
                        .uk.form-controls
                            button.uk-button.uk-button-large Submit form
        .uk-width-medium-1-3
            .tm-article-subtitle.right-panel
                h3 Follow us on:
                .uk-block.uk-block-secondary.uk-contrast
                    article.uk-article
                        .uk-panel.icon
                            a(href="https://github.com/" class="uk-icon-hover uk-icon-medium uk-icon-github")  Github
                        .uk-panel.icon
                            a(href="https://twitter.com/?lang=en" class="uk-icon-hover uk-icon-medium uk-icon-twitter")  Twitter
                        .uk-panel.icon
                            a(href="https://www.facebook.com/" class="uk-icon-hover uk-icon-medium uk-icon-facebook-square")  Facebook
                        .uk-panel.icon
                            a(href="https://www.tumblr.com/" class="uk-icon-hover uk-icon-medium uk-icon-tumblr-square")  Tumblr
                        .uk-panel.icon
                            a(href="https://www.linkedin.com/uas/login" class="uk-icon-hover uk-icon-medium uk-icon-linkedin-square")  Linkedin