.uk-grid
    .uk-width-1-1
        h1.top-logo
            #logo-circle Web Designer&#39;s Blog
    .uk-width-1-1
        nav.uk-navbar.uk-navbar-attached
            a.uk-navbar-brand(href="index.html") Web Designer&#39;s Blog
            a(href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas)
            ul.uk-navbar-nav.uk-navbar-center.uk-hidden-small
                li
                    a.uk-navbar-nav-subtitle(href="index.html") Home
                        div Introduction
                li
                    a.uk-navbar-nav-subtitle(href="construction.html") Topics
                        div Articles
                li
                    a.uk-navbar-nav-subtitle(href="video.html") Topics
                        div Videos
                li
                    a.uk-navbar-nav-subtitle(href="construction.html") Classifieds
                        div Job postings
                li
                    a.uk-navbar-nav-subtitle(href="newsletter.html") Newsletter
                        div Sign up
            .uk-navbar-flip
                .uk-navbar-content.uk-hidden-small
                    a.uk-navbar-toggle.uk-navbar-toggle-alt(href="")
                    form.uk-form.uk-margin-remove.uk-display-inline-block
                        input(type="text" placeholder="Search")

            <!-- off canvas box -->
            .uk-offcanvas(id="offcanvas")
                .uk-offcanvas-bar
                    .uk-nav.uk-nav-offcanvas
                        li
                            a(href="index.html") Home
                        li
                            a(href="construction.html") Articles
                        li
                            a(href="video.html") Videos
                        li
                            a(href="construction.html") Job postings
                        li
                            a(href="newsletter.html") Newsletter
